#parsedResult {
    max-height: 400px; /* Set the maximum height */
    overflow-y: scroll; /* Enable vertical scrolling */
    margin-top: 20px;
}

#allParsedTexts {
    max-height: 600px; /* Set the maximum height */
    overflow-y: scroll; /* Enable vertical scrolling */
    margin-top: 20px;
}

.card {
    margin-bottom: 10px;
}
