body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

.button-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
}

.top-left-button, .btn-success {
    width: 100px;
    height: 40px;
    font-size: 16px;
    margin-right: 10px;
}

.scrollable-container {
    max-height: 600px;
    overflow-y: auto;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.card {
    margin-bottom: 10px;
    background-color: #1e1e1e;
    color: #ffffff;
}

#parsedResult {
    max-height: 600px;
    overflow-y: auto;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

#allParsedTexts {
    max-height: 800px;
    overflow-y: auto;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.modal-content {
    background-color: #2c2c2c;
    color: #ffffff;
}

.btn-primary, .btn-secondary, .btn-success, .btn-danger {
    border: none;
    outline: none;
}

.btn-primary {
    background-color: #3b5998;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-success {
    background-color: #28a745;
}

.btn-danger {
    background-color: #dc3545;
}
