/* Position the home button in the top left corner */
.top-left-button {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 40px;
    font-size: 16px;
}

/* Position the create button in the top right corner */
.top-right-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 40px;
    font-size: 16px;
}

/* Scrollable container for parsed texts */
.scrollable-container {
    max-height: 600px; /* Increase the maximum height to show more entries */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-top: 20px;
    border: 1px solid #ccc; /* Optional: Add a border for better visual distinction */
    padding: 10px; /* Optional: Add some padding for better layout */
}

.card {
    margin-bottom: 10px;
}

#parsedResult {
    max-height: 600px; /* Set the maximum height to show more entries */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-top: 20px;
    border: 1px solid #ccc; /* Optional: Add a border for better visual distinction */
    padding: 10px; /* Optional: Add some padding for better layout */
}

#allParsedTexts {
    max-height: 800px;
    overflow-y: auto;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}
